<h1>Ask your Stupid Coach</h1>

<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!" class="ask-button">
</form>

<%= @input_questions %>
